* {
    font-family:inter, playfair, Arial, Helvetica, sans-serif;
    background-color: #E8DFD2 ;
    text-decoration: none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

html{
    margin:0px 40px 0px 40px;
    display: flex;
    flex-direction: column;
}

/* style header */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px #6C5F53 solid;
}

img.logo-header, img.logo-header-2{
    width: 10%; 
}

ul.nav-classic{
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul.nav-classic li, ul#navHamburger li{
    margin:40px;
}

ul.nav-classic li a, ul#navHamburger li a {
    font-family: inter, Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing:5px;
    color: #6C5F53;
    font-size: 0.75rem ;
}

ul.nav-classic li.active a, ul#navHamburger li.active a{
    color: #A37C4D;
    border-bottom: 1px #A37C4D solid;  
}

#boutonHamburger{
    display: none;
}

ul#navHamburger.hidden{
    display: none;
}



@keyframes fadeIn{
  from {
      opacity: 0;
      transform: translateY(-5px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/* style responsive header */

@media screen and (min-width: 1220px){
    ul#navHamburger{
    display: none;
    }
}


@media screen and (max-width: 1220px){
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul.nav-classic li{
        display: none;
    }

    img.logo-header-2{
        display:none;
    }

    #boutonHamburger{
        cursor: pointer;
        border : none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul#navHamburger{
    width: 100%;
    border-top: 1px #6C5F53 solid; ;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.5s ease-out;
    } 
}

/* style carousel */



/* style responsive carousel */



/* style Notre Histoire */

h1{
    font-family: Playfair Display;
    letter-spacing: 5px;
    font-size: 3.25rem;
    font-weight: 500;
    color:#4A3F36;
}

.notre-histoire{
    background-color: #ffffff;
    
}









