* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration-line: none;
}


html{
    font-size: 62.5%; /* 1rem = 10px */
    scroll-behavior: smooth;
}

body{
    font-family: 'Inter','Playfair Display', sans-serif;
    background-color: #E8DFD2;
}



/* base */

.titreh1{
    padding:0rem 4rem;
    display:flex;
    flex-direction: row;
    align-items: center;
}

h1{
    padding: 0rem 2rem;
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    letter-spacing: 0.5rem;
    font-size: 3.2rem;
    line-height: 1.2;
    font-weight: 500;
    color:#4A3F36;
}

h2{
    padding: 0rem 4rem;
    font-size: 2.4rem;
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    letter-spacing: 0.5rem;
    font-weight: 400;
    line-height: 1.3;
    font-style: italic;
    color:#B45B36;
}

.trait{
    width:40px;
    border-bottom:1px solid #4B3A2F;
}

p{
    font-family: 'inter', Arial, Helvetica, sans-serif;
}




/* style header */

header{
    padding: 0 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px #6C5F53 solid;
}


.logo-header, .logo-header-2{
    padding: 2rem 0rem;
}

ul.nav-classic{
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul.nav-classic li, ul#navHamburger li{
    padding:4rem;
}

ul.nav-classic li a, ul#navHamburger li a {
    font-family: 'inter', Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing:0.03rem;
    color: #6C5F53;
    font-size: 1.7rem ;
}

ul.nav-classic li.active a, ul#navHamburger li.active a{
    color: #A37C4D;
    border-bottom: 1px #A37C4D solid;  
}

ul.nav-classic li a:hover, ul#navHamburger li a:hover{
    color: #A37C4D; 
}

#boutonHamburger{
    display: none;
}

ul#navHamburger.hidden{
    display: none;
}

/* style carousel */





/* style Notre Histoire */

.notre-histoire{
    display: flex;
    flex-direction: column;
    justify-self:center;
    margin: 4rem 0rem;
    background-color: #ffffff;
}

.container-histoire{
    padding: 2rem 0rem;
}

.contenue-histoire{
    padding: 2rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.photo-histoire{
    border-radius: 2rem;
    margin:0rem 2rem 0rem 4rem;
    box-shadow: 0px 4px 4px 0px rgba(96, 90, 84, 0.25);
}

.texte-histoire{
    margin:0rem 4rem 0rem 2rem;
    display: flex;
    flex-direction: column;
}

p.resume{
    text-align: justify;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0.5rem;
}



/* style responsive*/

@media screen and (min-width: 1220px){
    ul#navHamburger{
    display: none;
    }
}


@media screen and (max-width: 1220px){
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul.nav-classic li{
        display: none;
    }

    img.logo-header-2{
        display:none;
    }

    #boutonHamburger{
        background-color: #E8DFD2;
        cursor: pointer;
        border : none;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }

    ul#navHamburger{
        width: 100%;
        border-top: 1px #6C5F53 solid; ;
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: fadeIn 0.5s ease-out;
    }
}

@keyframes fadeIn{
  from {
      opacity: 0;
      transform: translateY(-5px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}













