* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration-line: none;
}


html{
    font-size: 62.5%; /* 1rem = 10px */
    scroll-behavior: smooth;
}

body{
    font-family: 'Inter','Playfair Display', sans-serif;
    background-color: #E8DFD2;
}



/* commun */



.titreh1{
    padding: 1rem 4rem;
    display:flex;
    flex-direction: row;
    align-items: center;
}

h1{
    text-align: center;
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    letter-spacing: 0.5rem;
    font-size: 3.2rem;
    line-height: 1.2;
    font-weight: 500;
    color:#4A3F36;
}

h1.titre-page{
    margin:0 auto;
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #bb8a23;
    margin:4rem;
    letter-spacing: 0.2rem;
    font-size: 6.4rem;
}

h2{
    padding: 0 4rem;
    font-size: 2.8rem;
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    letter-spacing: 0.5rem;
    font-weight: 400;
    line-height: 1.3;
    font-style: italic;
    color:#B45B36;
}

h3{
    margin: 2rem 0;
    font-size: 2.4rem;
    font-family: 'inter', Arial, Helvetica, sans-serif;
    letter-spacing: 0.5rem;
    font-weight: 600;
    line-height: 1.3;
    color:#605A54;
    text-align: center;
}

h4{
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    color:#ffffff;
    font-size: 2.4rem;
    letter-spacing: 0.5rem;
    font-weight: 700;
    font-style: italic;
    text-align: center;
}

.trait{
    width:40px;
    border-bottom:1px solid #4B3A2F;
}

.trait-titre-page{
    margin:0 auto;
    width: 610px;
    border-bottom:1px solid #bb8a23;
}

.placement-CTA-page-menu{
    padding-top: 2rem;
    margin: 2rem auto;
}

a.CTA-page-menu{
    color:#E8DFD2;
    padding : 2rem 2rem;
    background-color: #bb8a23;
    border-radius: 2rem;
    margin:2rem auto;
    font-size: 1.6rem;
    box-shadow: 0px 4px 4px 0px rgba(96, 90, 84, 0.25);
}

a.CTA-page-menu:hover{
    color:#bb8a23;
    background-color: #E8DFD2;
    animation: fadeIn 1s ease-out;
    border: #bb8a23 1px solid;
}

button{
    cursor: pointer;
}


/* style header */

header{
    
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px #6C5F53 solid;
}


.logo-header, .logo-header-2{
    padding: 2rem 0rem;
}

.nav-header{
    display: flex;
    flex-direction: column;
    margin:0 auto;
}

ul.nav-classic{
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul.nav-classic li, ul#navHamburger li{
    padding:4rem;
}

ul.nav-classic li a, ul#navHamburger li a {
    font-family: 'inter', Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing:0.03rem;
    color: #6C5F53;
    font-size: 1.7rem ;
}

ul.nav-classic li.active a, ul#navHamburger li.active a{
    color: #A37C4D;
    border-bottom: 1px #A37C4D solid;  
}

ul.nav-classic li a:hover, ul#navHamburger li a:hover{
    color: #A37C4D;
    animation: fadeIn 0.5s ease-out; 
}

.nav-ancre {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 1rem 1rem;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    border-radius: 50px;
}

.nav-ancre li{
    padding: 0 2rem;
}

.nav-ancre a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

.nav-ancre a:hover{
    color:#B45B36;
    animation: fadeIn 0.5s ease-out;
}

#boutonHamburger{
    display: none;
}

ul#navHamburger.hidden{
    display: none;
}

.nav-ancre-responsive{
    display: none;
}

/* style carousel */

section.hero{
    margin: 4rem 0rem;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 1360px;
    height: 675px;
    margin: auto;
    overflow: hidden;
    border-radius: 2rem;
    box-shadow: 0px 4px 4px 0px rgba(96, 90, 84, 0.25);
}

/* LOGO */
.carousel-logo {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* Bande d’images */
.carousel-track {
  display: flex;
  width: 100%;
  animation: carousel 12s infinite ease-in-out;
}

/* Images */
.carousel img {
  width: 100%;
  object-fit: cover;
}

/* Animation */
@keyframes carousel {
  0%    { transform: translateX(0); }
  30%   { transform: translateX(0); }

  35%   { transform: translateX(-100%); }
  65%   { transform: translateX(-100%); }

  70%   { transform: translateX(-200%); }
  100%  { transform: translateX(-200%); }
}

/* style Notre Histoire */

section.notre-histoire{
    max-width: 1360px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 2rem;
    box-shadow: 0px 4px 4px 0px rgba(96, 90, 84, 0.25);
}

.contenue-histoire{
    padding: 2rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.photo-histoire{
    border-radius: 2rem;
    margin:0rem 2rem 0rem 4rem;
    box-shadow: 0px 4px 4px 0px rgba(96, 90, 84, 0.25);
}

.texte-histoire{
    margin:0rem 4rem 0rem 2rem;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-content: center;
}

p.resume{
    text-align: justify;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.2rem;
    padding-bottom: 1rem;
}



p.accroche-histoire{
    padding:2rem 0rem;
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    color:#B45B36;
}


/* style Notre Équipe */

section.notre-equipe{
    max-width: 1360px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 4rem;  
}

.titreh1-equipe, .h2-notreequipe{
    display: flex;
    justify-content: center;
    align-items: center;
}

p.accroche-equipe{
    padding: 3rem;
    text-align: center;
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    font-style: italic;
    letter-spacing: 0.2rem;
    color: #4A3F36;
}

.photo-equipe{    
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.ensemble-portrait{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portrait{
    width: 70%;
}

.nom-portrait{
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-size: 5.2rem;
    font-style: italic;
    text-align: center;
}

.poste-portrait{
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    text-align: center;
}

.resume-equipe{
    padding: 2rem 2rem;
    text-align:center;
    font-family:'inter', Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}

/* style Notre Signature */

section.notre-signature{
    max-width: 1360px;
    padding-top: 2rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.55)), url("../img/table_traiteur.jpg");
    box-shadow: 0px 4px 4px 0px rgba(96, 90, 84, 0.25);
}

.trait-signature{
    width: 40px;
    border-bottom:1px solid #FFFFFF;
}

h1.h1-notresignature, h2.h2-notresignature{
    color:#FFFFFF;
}

.image-carte{
    border-radius:2rem;
    margin-bottom: 4rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.ensemble-carte{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:2rem auto;
}

.carte{
    padding-right:4rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.carte:last-child{
    padding-right:0rem;
}

.texte-carte{
    padding: 2rem 0;
    border-radius: 2rem;
    background-color: rgba(232, 223, 210, 0.7);
    max-width: 400px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.accroche-carte{
    padding: 1rem 0;
    color: #ffffff;
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 600;
    font-style: italic;
}

.resume-carte{
    padding: 1rem 2rem;
    color: #ffffff;
    text-align: center;
    font-family:'inter', Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 3rem;  
}

.h3-signature{
    color: #FFFFFF;
}

/*style avis*/

section.avis{
    max-width: 1360px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 2rem;
    box-shadow: 0px 4px 4px 0px rgba(96, 90, 84, 0.25);
}

.ensemble-avis{
    padding: 2rem 0rem;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.carte-avis{
    margin: 0 2rem;
    padding:2rem;
    border-radius: 2rem;
    background-color:rgba(217, 217, 217, 0.40) ;
    display: flex;
    flex-direction:column;
}

.avis-nom, .avis-theme{
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 2rem;
    text-align: center;
}

.avis-note{
    margin:1rem 0;
    text-align: center;
}

.avis-description{
    max-width: 250px;
    max-height: 200px;
    padding:1rem;
    text-align: center;
    font-family:'inter', Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 1.6rem;
}

/*style page menus*/


.header-page-menu{
    display: flex;
    flex-direction: column;
    max-width: 1360px;
    text-align: center;
    margin:0 auto;
}

.filtre-menus{
    color: #6C5F53;
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.filtre-colonne{
    width: 50%;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
}

.block-filtre{
    margin:1rem;
    display: flex;
    flex-direction: column;
    background-color:rgb(255, 255, 255, 0.4); 
    border-radius:1rem;
    box-shadow: 0px 4px 4px 0px rgba(96, 90, 84, 0.25);
}

.entete-filtre{
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    letter-spacing: 0.2rem;
    font-weight: bold;
    font-size: 1.4rem;
    margin:1rem;
    color:#6C5F53;
    border-bottom: rgba(187, 138, 35, 0.2) 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.range-container {
    position: relative;
    width: 100%;
}

#rangeValeurPrix {
    position: absolute; 
    transform: translateX(-50%);
    color:#bb8a23;
    padding: 0.4rem 0.8rem;
    font-size: 1.4rem;
    pointer-events: none;
    white-space: nowrap;    
}


#rangePrix {
    width: 100%;
}

.outil-filtre{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:1rem;
}

input[type=range]{
    appearance: none;
    margin:3rem 0rem;
    width: 100%;
}
 
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1rem;
  cursor: pointer;
  background: #bb8a23;
  border-radius: 2rem;
}
input[type=range]::-webkit-slider-thumb {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: #bb8a23;
  box-shadow: 0 0 1px 0 rgba(0,0,0, 1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.5rem;
}

input:checked{
    border:#6C5F53;
    background-color:#bb8a23;
}

.titre-page-menu{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.valeurs-filtre{
    margin: 0rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

p.titre-page{
    text-align: center;
    padding: 2rem;
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #6C5F53;
    letter-spacing: 0.2rem;
    font-size: 1.4rem;
}

.titre-filtre{
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-weight: 500;
    letter-spacing: 0.2rem;
    color:#4B3A2F;
    font-size: 2rem;
}

section.liste-menu{
    display: flex;
    flex-direction: column;
    margin:0 auto;
    max-width: 1360px;
    padding:4rem 0;
}

.ensemble-titre-menu{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.bloc-menu{
    display: flex;
    flex-direction: column;
    margin:2rem 0rem;
}

.titre-menu{
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 3.2rem;
    color:#bb8a23;
    letter-spacing: 0.2rem;
}

button.btContenueMenu{
    border: none;
    background-color:#E8DFD2;
    color: #bb8a23;
    font-family:'inter', Arial, Helvetica, sans-serif;
    font-size: 5rem;
}


.trait-titre-menu{
    width: 1360px;
    border-bottom: #4B3A2F solid 1px;
}

.description-menu{
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 500;
    color: #4B3A2F;
    font-size: 2rem;
    letter-spacing: 0.2rem;
}

.galerie-menu{
    margin:2rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img-menu{
    border-radius: 2rem;
    box-shadow: 0px 4px 4px 0px rgba(96, 90, 84, 0.25);
}

.rappel-menu, .detail-menu, .info-menu {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contenu-menu{
    display: flex;
    flex-direction: column;
    text-align: center;
    animation: fadeIn 2s ease-out;
}


.info-menu{
    margin: 2rem auto;
    width: 300px;
    border-top: #4B3A2F 1px solid;
    border-bottom: #4B3A2F 1px solid;
}

.rappel-menu div{
    font-family:'inter', Arial, Helvetica, sans-serif;
    color:#4B3A2F;
    margin:1rem;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    font-weight: 300;   
}

.detail-menu div{
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-style: italic;
    color:#4B3A2F;
    margin:0.5rem;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    font-weight: 500;  
}

.info-menu div{
    margin-bottom: 1rem;
    font-family:'inter', Arial, Helvetica, sans-serif;
    color:#4B3A2F;
    margin:0.5rem;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    font-weight:300;
}



/*style footer*/

footer{
    padding:4rem 0;
    max-width: 1360px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.info-entreprise{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.colonne-info{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.picto-info{
    margin: 0 auto;
    width: 24px;
    height: 24px;
}

.titre-info{
    padding:1rem 0;
    color:#A37C4D;
    text-align: center;
    border-bottom: #A37C4D 1px solid;
    font-size: 1.8rem;
    font-weight: bold;
}

.info-info{
    padding: 1rem 0;
    font-weight: bold;
    font-size: 1.2rem;
}

table.info-info th{
    text-align: left;
    padding-top:1rem;
}

table.info-info th.h{
    text-align: right;
    font-weight: lighter;
}

.logo-footer{
    margin:0 auto;
    max-width: 150px;
    margin-bottom: 2rem;
}

.mentions {
    color:#A37C4D;
    text-align: center;
}

.mentions a{
    color: #A37C4D;
    border-bottom: #A37C4D 1px solid;
}

/* style responsive*/

@media screen and (min-width: 1220px){
    ul#navHamburger{
    display: none;
    }
}


@media screen and (max-width: 1220px){
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titreh1{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    h1, h2, h3{
        display: flex;
        flex-direction: row;
        text-align: center;
    }


    ul.nav-classic{
        display: none;
    }

    .nav-ancre{
        display: none;
    }

    
    img.logo-header-2{
        display:none;
    }

    .carousel{
        height: auto;
        border-radius: 0rem;
    }

    .carousel-logo{
        width: 200px;
    }
    
    #boutonHamburger{
        background-color: #E8DFD2;
        border : none;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }

    ul#navHamburger{
        width: 100%;
        border-top: 1px #6C5F53 solid; ;
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: fadeIn 0.5s ease-out;
    }

    ul#navHamburger li{
        padding: 2rem;
    }

    .nav-ancre-responsive{
        display: flex;
        flex-direction: row;
        white-space: nowrap;
        margin-bottom: 1rem;
    }


    .nav-ancre-responsive li a{
        color: #A37C4D;
        padding: 1rem 1rem;
    }

    .contenue-histoire, .texte-histoire{
        margin:2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;  
    }

    .photo-histoire{
        margin: 2rem;
    }


    .photo-equipe{
        flex-direction: column;
    }

    .ensemble-portrait{
        padding:2rem 0rem;
    }

    .ensemble-carte, .ensemble-avis{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 2rem;
    }


    .image-carte{
        margin: 0rem;
    }

    .carte:last-child{
    padding-right:2rem;
    }

    .texte-carte{
        margin: 2rem 0;
    }

    .carte{
        margin: 0rem;
        padding: 2rem;
    }

    .carte-avis{
        margin: 2rem 0;
    }

    
    .ensemble-titre-menu{
        margin:0rem 1rem;
        flex-direction: column;
        text-align: center;
    }

    .description-menu{
        margin: 0rem 1rem;
        font-size: 1.6rem;
        text-align: center;
    }

    .galerie-menu{
    flex-direction: column;
    justify-content: center;
}
    .img-menu{
        margin: 1rem 1rem;
    }

    .info-entreprise{
        display: flex;
        flex-direction: column;
        margin:2rem auto;
    }
}
    

@keyframes fadeIn{
  from {
      opacity: 1;
      transform: translateY(-5px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}













